# This is a basic workflow to help you get started with Actions

name: CI

on:
#   schedule:
#     - cron: '0 22 * * *'
  workflow_dispatch: # 添加一个可以手动运行的按钮

jobs:
  build:
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - uses: actions/checkout@v2
      - name: Install mustache (to update the date)
        run:  apk add ruby && gem install mustache
      - name: creates output
        run:  sh ./build.sh
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: 'data/global/Global_PM_corT.csv'
          destination-github-username: 'KowComical'
          destination-repository-name: 'CM_Power_Data'
          user-email: 'xuanren1992@yahoo.com'
          commit-message: See ORIGIN_COMMIT from $GITHUB_REF
          target-branch: main
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
