name: japan
'on':
  schedule:
    - cron: '0 21 1-10 * *'
  workflow_dispatch: # 添加一个可以手动运行的按钮
jobs:
  japan_selenium_bot:
    runs-on: windows-latest
    steps:
      - name: check_code
        uses: actions/checkout@master
      - name: set up Python 3.8
        uses: actions/setup-Python@v2
        with:
          python-version: '3.8'
      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install selenium
          pip install webdriver-manager
          pip install pyautogui
      - name: process data
        run: python ./code/asian/japan/japan_selenium.py
      - name: commit and push if it changed
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add -A
          git commit -m "updated"
          git push
