name: pushed_to_website
on:
#   schedule:
#     - cron: '0 22 * * *'
  workflow_dispatch: # 添加一个可以手动运行的按钮

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Pushes test file
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source_file: 'data/global/Global_PM_corT.csv'
        destination_repo: 'KowComical/CM_Power_Data'
        user_email: 'xuanren1992@yahoo.com'
        user_name: 'KowComical'
        commit_message: 'Daily Power Generation data Updated from CM_Power_Database'
