name: us_craw

on: [push]
  # schedule: # UTC时间每天凌晨2点运行一次
    # - cron: "22 12 * * *"
jobs:
  us_bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'check_code'
        uses: actions/checkout@master
      - name: 'set up Python 3.8'
        uses: actions/setup-Python@v2
        with:
          python-version: '3.8'
      - name: 'install requirements'
        run: |
          pip install pandas
          pip install requests
          pip install tqdm
      - name: 'download us daily data'
        run: python ./code/n_america/us/us_craw.py
      - name: 'commit and push if it changed'
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push

      
